<div class="fa fa-angle-up" id="topcontrol" title="Scroll To Top"></div>
	<div id="fb-root"></div>
	<script type='text/javascript'>
	   /* <![CDATA[ */
	   var tie = {
	       "mobile_menu_active": "true",
	       "mobile_menu_top": "",
	       "lightbox_all": "true",
	       "lightbox_gallery": "true",
	       "woocommerce_lightbox": "yes",
	       "lightbox_skin": "dark",
	       "lightbox_thumb": "vertical",
	       "lightbox_arrows": "",
	       "sticky_sidebar": "1",
	       "is_singular": "1",
	       "SmothScroll": "",
	       "reading_indicator": "true",
	       "lang_no_results": "No Results",
	       "lang_results_found": "Results Found"
	   };
	   /* ]]> */
	</script> 
	<script src='//cdn.tubex.ga/js/tie-scripts.js' type='text/javascript'>
	</script> 
	<script src='//cdn.tubex.ga/js/ilightbox.packed.js' type='text/javascript'>
	</script>