<div class="footer-3c" id="footer-widget-area">
						<div class="footer-widgets-box" id="footer-first">
							<div class="text-html-box" id="text-html-widget-2">
								<div class="entry">
									<p>The Sahifa responsive WordPress theme combines practical elegance with powerful features. Retina ready and designed specifically for use across a broad array of devices and platforms.</p>
								</div>
							</div>
						</div>
						<div class="footer-widgets-box" id="footer-second">
						</div>
						<div class="footer-widgets-box" id="footer-third">
						</div>
					</div>
					<div class="clear"></div>