---
layout: default
---
<div id="main-content" class="container">
    <div class="post-cover-head">
        <div class="single-post-video">
			<div class="fluid-width-video-wrapper" style="padding-top: 56.2121%;"><iframe src="{{ site.api }}/embed/watch?url={{ page.video | escape }}" title="{{ page.title | escape }}" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true" name="fitvid0" frameborder="0"></iframe></div>
        </div>
    </div>
    <div class="content post-cover">
        <article class="post-listing post type-post status-publish format-standard has-post-thumbnail category-videos tag-article tag-author tag-post tag-video" id="the-post">
            <div class="post-inner">
                <h2 class="name post-title entry-title"><span itemprop="name">{{ page.title | escape }}</span></h2>
                <p class="post-meta">
                    <span class="tie-date"><i class="fa fa-clock-o"></i>{{ page.date | date: "%b %-d, %Y" }}</span>
                    <span class="post-cats"><i class="fa fa-folder"></i><a href="{{ site.url }}/{{ page.category | slugify }}/" rel="category">{{ page.category }}</a></span>
                <div class="clear"></div>
                <div class="entry">
                    {{ content }}
                </div>
                <div class="clear"></div>
            </div>
        </article>
        <p class="post-tag">Tags 
		{% for tag in page.tags %}
		<a href="{{ site.url }}/tags/{{ tag | slugify }}/" rel="tag">{{ tag }}</a>
		{% endfor %}
		</p>
        <section id="related_posts">
            <div class="block-head">
                <h3>Related Videos</h3>
                <div class="stripe-line"></div>
            </div>
            <div class="post-listing">
			{% assign maxRelated = 6 %}
			{% assign minCommonTags =  2 %}
			{% assign maxRelatedCounter = 0 %}
				{% for post in site.posts %}
					{% assign sameTagCount = 0 %}
					{% assign commonTags = '' %}
					{% for tag in post.tags %}
						{% if post.url != page.url %}
							{% if page.tags contains tag %}
								{% assign sameTagCount = sameTagCount | plus: 1 %}
								{% assign commonTags = commonTags | append: tagmarkup %}
							{% endif %}
						{% endif %}
					{% endfor %}
					{% if sameTagCount >= minCommonTags %}
                <div class="related-item tie_video">
                    <div class="post-thumbnail">
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            <img width="310" height="165" src="{{post.image}}" class="attachment-tie-medium size-tie-medium wp-post-image" alt="{{ post.title }}" /> <span class="fa overlay-icon"></span>
                        </a>
                    </div>
                    <h3><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{ post.title }}</a></h3>
                </div>
				{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
				{% if maxRelatedCounter >= maxRelated %}
					{% break %}
				{% endif %}
			{% endif %}
			{% endfor %}
                <div class="clear"></div>
            </div>
        </section>
    </div>
    <aside id="sidebar">
        <div class="theiaStickySidebar">
			{% include ads300.html %}
			{% include ads300.html %}
        </div>
    </aside>
    <div class="clear"></div>
</div>